<form action="/edit-poui/{{id}}" method="POST">
    <div class="uk-margin">
        <div class="uk-form-label uk-text-bold uk-text-left">Name</div>
        <div class="uk-inline uk-width-1-1">
            <!-- <span class="uk-form-icon" uk-icon="icon: location"></span> -->
            <input class="uk-input uk-form-medium" type="text" name="name" value="{{name}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-form-label uk-text-bold uk-text-medium uk-text-left">Category</div>
        <select class="uk-select" type="text" name="category">
            <option> {{category}} </option>
            <option> Average Tree </option>
            <option> Mundane River </option>
            <option> Mediocre Walkway </option>
            <option> Bland National Monument </option>
        </select>
    </div>
    <div class="uk-margin">
        <div class="uk-form-label uk-text-bold uk-text-medium uk-text-left" id="form-stacked-text">Description</div>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="form-stacked-text" type="text" name="description">{{description}}</textarea>
        </div>
    </div>
    <div class="uk-margin">
        <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Save </button>
    </div>
</form>
{{> error }}