<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="POI Handler" subTitle="Create & manage your POI's here"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-width-auto">{{> create-poui}}</div>
</div>