<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="POUI Central" subTitle="Sign Up to start your Uninteresting Journey, or Log In to continue
  it..."}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Welcome To POUI (Points of Uninterest) Central</h1>
      <p>A place for viewing and creating POUI's </p>
      <img alt="signpost" src="images/signpost.png"/>
    </div>
  </div>
</div>