<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="View POUI" subTitle="A detailed view of your POUI"}}
  {{> main-menu }}
</div>
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <p>Name: {{name}}</p>
  <p>Category: {{category}}</p>
  <p>Description: {{description}}</p>
  <p>Creator: {{creator}}</p>
  <p>Image: <em>image goes here</em></p>
</div>
